In [1]:
import pandas as pd

In [2]:
import csv
import sys
import argparse

In [3]:
def filter_csv_by_prefix(input_file: str, output_file: str, prefixes: list[str]) -> None:
    """
    Filters columns from a CSV file whose headers start with specific prefixes and writes them to a new CSV file.
    
    Parameters:
    ----------
    input_file: The path to the input CSV file.
    output_file: The path to the output CSV file where the filtered data will be saved.
    prefixes : A list of prefixes; columns whose headers start with any of these prefixes will be included.
    
    Returns:
    --------
    None
    """
    try:
        with open(input_file, mode='r', newline='', encoding='utf-8') as csvfile:
            reader = csv.DictReader(csvfile)
            
            matching_columns = [col for col in reader.fieldnames if any(col.startswith(prefix) for prefix in prefixes)]
            
            if not matching_columns:
                raise ValueError(f"No columns found starting with the provided prefixes: {prefixes}")
            
            with open(output_file, mode='w', newline='', encoding='utf-8') as outfile:
                writer = csv.DictWriter(outfile, fieldnames=matching_columns, extrasaction='ignore')
                
                writer.writeheader()
                
                for row in reader:
                    filtered_row = {col: row[col] for col in matching_columns}
                    writer.writerow(filtered_row)
        
        print(f"Filtered CSV written to {output_file} with columns: {matching_columns}")
    
    except FileNotFoundError:
        print(f"Error: File '{input_file}' not found.")
    except ValueError as ve:
        print(f"Error: {ve}")

In [4]:
# if __name__ == "__main__":
#     parser = argparse.ArgumentParser(description="Filter specific columns from a CSV file.")
#     parser.add_argument("input_file", help="Path to the input CSV file")
#     parser.add_argument("output_file", help="Path to the output CSV file")
#     parser.add_argument("codes", help="Comma-separated list of UKB codes to extract")
    
#     args = parser.parse_args()

#     prefixes = args.codes.split(",")
    
#     filter_csv_by_prefix(args.input_file, args.output_file, prefixes)

# Getting the column names

"sex": "22001"
"age at recruitment": "21022"

In [5]:
icd_df = pd.read_csv("../../data/UKB/4041061_11_23.csv", nrows=10)

In [6]:
icd_df

,eid,3-0.0,3-1.0,3-2.0,3-3.0,4-0.0,4-1.0,4-2.0,4-3.0,5-0.0,...,105010-2.0,105010-3.0,105010-4.0,105030-0.0,105030-1.0,105030-2.0,105030-3.0,105030-4.0,110005-0.0,110006-0.0
0,1000014,430,NaN,NaN,NaN,704.0,NaN,NaN,NaN,196,...,NaN,NaN,NaN,2010-02-27T11:58:32,NaN,NaN,NaN,NaN,0.0,2014-03-27
1,1000023,864,NaN,369.0,NaN,NaN,NaN,405.0,NaN,222,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2015-01-30
2,1000030,909,NaN,NaN,NaN,794.0,NaN,NaN,NaN,109,...,2011-07-05T07:53:12,NaN,NaN,2010-03-09T16:17:10,NaN,2011-07-05T07:24:51,NaN,NaN,NaN,NaN
3,1000041,250,NaN,NaN,NaN,512.0,NaN,NaN,NaN,233,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000059,448,NaN,NaN,NaN,458.0,NaN,NaN,NaN,737,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1000062,498,NaN,NaN,NaN,1062.0,NaN,NaN,NaN,684,...,NaN,NaN,NaN,2009-10-07T17:39:25,NaN,NaN,NaN,NaN,NaN,NaN
6,1000077,305,NaN,NaN,NaN,600.0,NaN,NaN,NaN,287,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2015-01-23
7,1000086,438,NaN,442.0,437.0,364.0,NaN,612.0,298.0,214,...,NaN,NaN,NaN,NaN,2011-03-07T14:25:13,NaN,NaN,NaN,0.0,2014-05-23
8,1000095,985,NaN,NaN,NaN,673.0,NaN,NaN,NaN,284,...,2011-07-21T13:06:07,NaN,NaN,NaN,2011-03-04T09:25:52,2011-07-21T12:43:16,NaN,NaN,2.0,2015-08-13
9,1000100,476,NaN,NaN,NaN,485.0,NaN,NaN,NaN,319,...,NaN,2011-11-23T11:13:16,2012-05-27T21:34:02,NaN,NaN,NaN,2011-11-23T11:01:09,2012-05-27T21:20:36,2.0,2013-07-15

- Getting all the diagnosis columns

In [7]:
diagnoses_columns = [col for col in icd_df.columns if "41202" in col.lower()]

- Getting related metadata columns
    - 31 is the sex of the subject
    - 21022 is the age of the recruitment

In [8]:
all_columns = ["eid", "31-0.0", "21022-0.0"] + diagnoses_columns

In [9]:
all_columns

['eid',
 '31-0.0',
 '21022-0.0',
 '41202-0.0',
 '41202-0.1',
 '41202-0.2',
 '41202-0.3',
 '41202-0.4',
 '41202-0.5',
 '41202-0.6',
 '41202-0.7',
 '41202-0.8',
 '41202-0.9',
 '41202-0.10',
 '41202-0.11',
 '41202-0.12',
 '41202-0.13',
 '41202-0.14',
 '41202-0.15',
 '41202-0.16',
 '41202-0.17',
 '41202-0.18',
 '41202-0.19',
 '41202-0.20',
 '41202-0.21',
 '41202-0.22',
 '41202-0.23',
 '41202-0.24',
 '41202-0.25',
 '41202-0.26',
 '41202-0.27',
 '41202-0.28',
 '41202-0.29',
 '41202-0.30',
 '41202-0.31',
 '41202-0.32',
 '41202-0.33',
 '41202-0.34',
 '41202-0.35',
 '41202-0.36',
 '41202-0.37',
 '41202-0.38',
 '41202-0.39',
 '41202-0.40',
 '41202-0.41',
 '41202-0.42',
 '41202-0.43',
 '41202-0.44',
 '41202-0.45',
 '41202-0.46',
 '41202-0.47',
 '41202-0.48',
 '41202-0.49',
 '41202-0.50',
 '41202-0.51',
 '41202-0.52',
 '41202-0.53',
 '41202-0.54',
 '41202-0.55',
 '41202-0.56',
 '41202-0.57',
 '41202-0.58',
 '41202-0.59',
 '41202-0.60',
 '41202-0.61',
 '41202-0.62',
 '41202-0.63',
 '41202-0.64',
 '41202-0.65',
 '41202-0.66',
 '41202-0.67',
 '41202-0.68',
 '41202-0.69',
 '41202-0.70',
 '41202-0.71',
 '41202-0.72',
 '41202-0.73',
 '41202-0.74',
 '41202-0.75',
 '41202-0.76',
 '41202-0.77',
 '41202-0.78',
 '41202-0.79']

- Only grabbing the diagnoses columns

In [10]:
icd_df = pd.read_csv("../../data/UKB/4041061_11_23.csv", usecols=all_columns)

/scratch/local/57162947/ipykernel_1339207/3552963747.py:1: DtypeWarning: Columns (15364,15365,15366,15367,15368,15369,15370,15371,15372,15373,15374,15375,15376,15377,15378,15379,15380,15381,15382,15383,15384,15385,15386,15387,15388,15389,15390,15391,15392,15393,15394,15395,15396,15397,15398,15399,15400,15401,15402,15403,15404,15405,15406,15407,15408,15409,15410,15411,15412,15413,15414,15415,15416,15417,15418,15419,15420,15421,15422,15423,15424,15425,15426,15427,15428,15429,15430,15431,15432,15433,15434,15435,15436,15437,15438) have mixed types. Specify dtype option on import or set low_memory=False.
  icd_df = pd.read_csv("../../data/UKB/4041061_11_23.csv", usecols=all_columns)

In [11]:
icd_df.head()

,eid,31-0.0,21022-0.0,41202-0.0,41202-0.1,41202-0.2,41202-0.3,41202-0.4,41202-0.5,41202-0.6,...,41202-0.70,41202-0.71,41202-0.72,41202-0.73,41202-0.74,41202-0.75,41202-0.76,41202-0.77,41202-0.78,41202-0.79
0,1000014,1,63,I10,K20,K227,K30,K449,N300,R101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000023,1,48,M179,N359,R31,Z302,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000030,0,65,D051,D509,K224,K573,R69,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000041,0,53,H269,H353,M2323,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000059,0,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- Making a new column that has all the diagnosis

In [12]:
icd_df['all_diagnoses'] = icd_df[diagnoses_columns].apply(lambda row: row.tolist(), axis=1)

In [13]:
icd_df["all_diagnoses"] = icd_df["all_diagnoses"].apply(lambda x: [diagnoses for diagnoses in x if isinstance(diagnoses, str)])

In [14]:
icd_df["all_diagnoses"].head()

0    [I10, K20, K227, K30, K449, N300, R101, R31, R...
1                              [M179, N359, R31, Z302]
2                        [D051, D509, K224, K573, R69]
3                                  [H269, H353, M2323]
4                                                   []
Name: all_diagnoses, dtype: object

- Filtering for mental and neural diseases

In [15]:
icd_df["mental_and_neural_diagnoses"] = icd_df["all_diagnoses"].apply(lambda x: [diagnoses for diagnoses in x if "f" in diagnoses.lower() or "g" in diagnoses.lower()])

In [16]:
icd_df["mental_and_neural_diagnoses"].head()

0    []
1    []
2    []
3    []
4    []
Name: mental_and_neural_diagnoses, dtype: object

- Labeling each row based on if there's a diagnosis or not

In [17]:
icd_df["has_any_diagnosis"] = icd_df["all_diagnoses"].apply(lambda x: len(x)) >= 1

In [18]:
icd_df["has_mental_or_neural_diagnosis"] = icd_df["mental_and_neural_diagnoses"].apply(lambda x: len(x)) >= 1

In [19]:
icd_df[icd_df["has_any_diagnosis"]][["all_diagnoses", "mental_and_neural_diagnoses", "has_any_diagnosis", "has_mental_or_neural_diagnosis"]].head()

,all_diagnoses,mental_and_neural_diagnoses,has_any_diagnosis,has_mental_or_neural_diagnosis
0,"[I10, K20, K227, K30, K449, N300, R101, R31, R...",[],True,False
1,"[M179, N359, R31, Z302]",[],True,False
2,"[D051, D509, K224, K573, R69]",[],True,False
3,"[H269, H353, M2323]",[],True,False
5,"[K648, K649]",[],True,False

- Removing unnecessary diagnosis columns

In [20]:
dropped_icd_df = icd_df.drop(columns=[col for col in icd_df.columns if "41202" in col], errors="ignore")

In [21]:
dropped_icd_df

,eid,31-0.0,21022-0.0,all_diagnoses,mental_and_neural_diagnoses,has_any_diagnosis,has_mental_or_neural_diagnosis
0,1000014,1,63,"[I10, K20, K227, K30, K449, N300, R101, R31, R...",[],True,False
1,1000023,1,48,"[M179, N359, R31, Z302]",[],True,False
2,1000030,0,65,"[D051, D509, K224, K573, R69]",[],True,False
3,1000041,0,53,"[H269, H353, M2323]",[],True,False
4,1000059,0,48,[],[],False,False
...,...,...,...,...,...,...,...
502304,6025359,1,62,"[I251, M4806, N40, N47, R798]",[],True,False
502305,6025362,0,53,"[M169, Z038]",[],True,False
502306,6025377,1,58,[],[],False,False
502307,6025386,0,43,[],[],False,False
502308,6025395,1,40,[],[],False,False

- Getting subjects that only have Parkinson’s or Alzheimer’s disease

In [22]:
unique_diseases = dropped_icd_df["all_diagnoses"].explode().unique().astype(str)

In [23]:
unique_diseases

array(['I10', 'K20', 'K227', ..., 'M4193', 'A938', 'M7709'], dtype='<U5')

In [24]:
ad_diseases = [name for name in unique_diseases if "G30" in name]

In [25]:
ad_diseases

['G309', 'G308', 'G300', 'G301']

In [38]:
dropped_icd_df["has_PD"] = dropped_icd_df["mental_and_neural_diagnoses"].apply(lambda x: "G20" in x and len(x) == 1)

In [46]:
# dropped_icd_df["has_AD"] = dropped_icd_df["mental_and_neural_diagnoses"].apply(lambda x: "G301" in x and len(x) == 1)

In [55]:
dropped_icd_df["has_AD"] = dropped_icd_df["mental_and_neural_diagnoses"].apply(
    lambda diag_list: any(code in diag_list for code in ad_diseases) and len(diag_list) == 1
)

In [56]:
dropped_icd_df[dropped_icd_df["has_PD"]]

,eid,31-0.0,21022-0.0,all_diagnoses,mental_and_neural_diagnoses,has_any_diagnosis,has_mental_or_neural_diagnosis,has_PD,has_AD
64,1000651,1,51,"[D45, D509, D751, G20, K429, L031, L270, M702]",[G20],True,True,True,False
156,1001578,0,63,"[G20, L022, R100]",[G20],True,True,True,False
722,1007239,1,60,"[G20, H251, H330, I849, N419, R35, S010, S099,...",[G20],True,True,True,False
1187,1011886,0,64,"[G20, H258, H264, R400, R55]",[G20],True,True,True,False
2154,1021550,1,68,"[C61, G20, J690, R05, R060, R074, R296, R69, Z...",[G20],True,True,True,False
...,...,...,...,...,...,...,...,...,...
497730,5979561,0,63,"[G20, H269, I209, J189, S7200, U071]",[G20],True,True,True,False
498490,5987167,0,60,"[G20, H251, I350, M169, R072, R074]",[G20],True,True,True,False
500072,6003017,1,69,"[C446, G20, I839, K529, L988, M205, M5456, M54...",[G20],True,True,True,False
500534,6007654,0,68,"[D509, G20, J22, K029, K623, M1397, M189, M549...",[G20],True,True,True,False
502268,6024998,1,57,"[C443, D225, G20, K210, K429, K590, M812, M819...",[G20],True,True,True,False

In [57]:
dropped_icd_df[dropped_icd_df["has_AD"]]

,eid,31-0.0,21022-0.0,all_diagnoses,mental_and_neural_diagnoses,has_any_diagnosis,has_mental_or_neural_diagnosis,has_PD,has_AD
479,1004807,1,65,"[G309, N138, N390, R619, S510]",[G309],True,True,False,True
877,1008780,0,63,"[G309, J189, J22, L720, R13]",[G309],True,True,False,True
1216,1012179,1,58,"[G309, Z138]",[G309],True,True,False,True
2967,1029681,1,67,"[G309, H020, H251, I251, I340, J189, K29, K409...",[G309],True,True,False,True
3690,1036913,0,68,"[G309, L989, N950, R55, S000]",[G309],True,True,False,True
...,...,...,...,...,...,...,...,...,...
496644,5968677,0,55,"[D251, D259, G300, K30, M201, N61, N841, N920,...",[G300],True,True,False,True
497257,5974838,1,56,"[B07, G300, I839, J342, K635, M2320, M2329, N4...",[G300],True,True,False,True
499682,5999111,0,57,"[A419, G309, K625, R104, R296, R69]",[G309],True,True,False,True
500529,6007601,1,67,"[C800, G300, H258, K219, L721, M109]",[G300],True,True,False,True
501715,6019462,0,65,"[G309, I269, K297, K30, K573, M169, N840, R104...",[G309],True,True,False,True

- Saving to file

In [58]:
dropped_icd_df.to_pickle("./proc/trimmed_icd.pkl")

In [59]:
no_diagnosis_icd_df = dropped_icd_df[~dropped_icd_df["has_any_diagnosis"]][["eid", "31-0.0", "21022-0.0"]]

In [60]:
no_diagnosis_icd_df

            eid  31-0.0  21022-0.0
4       1000059       0         48
7       1000086       1         49
10      1000113       0         50
16      1000175       1         41
18      1000197       1         57
...         ...     ...        ...
502275  6025063       0         52
502283  6025140       0         54
502306  6025377       1         58
502307  6025386       0         43
502308  6025395       1         40

[55363 rows x 3 columns]

In [61]:
no_diagnosis_icd_df.to_csv("./proc/no_diagnosis_icd.csv")